#wrapper {
  min-height: 100vh;
  max-width: 780px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.55);
  width: 100%;
  display: table;
}
.image-container {
  height: 500px;
  border-radius: 10px 0 0 10px;
  background: url('../images/vertical.jpg') center/cover no-repeat;
  display: table-cell;
  width: 50%;
}
.form-container {
  padding: 57px 65px;
  display: table-cell;
}
.form-container h2 {
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 1em;
}

.form-container form {
  display: block;
}

form .input {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.input input {
  padding: 5px 0;
  font-size: 16px;
  color: #ccc;
  background: transparent;
  outline: none;
  margin: 0;
  border: none;
  box-shadow: none;
  --webkit-box-shadow: none;
  --mox-box-shadow: none;
  width: 100%;
}

button[type='submit'] {
  font-size: 16px;
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  display: inline-block;
  line-height: 40px;
  padding: 0 30px;
  background-color: #0fa022;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 183px;
  transition: background-color ease 0.6s, transform ease 0.8s;
}

button[type='submit']:hover {
  transform: scale(1.02);
  background-color: #03bb1c;
}

@media (max-width: 767px) {
  .container {
    display: block;
    width: 90%;
  }
  .image-container {
    border-radius: 10px 10px 0 0;
  }
  .image-container,
  .form-container {
    display: block;
    width: 100%;
  }
  .image-container {
    height: 200px;
  }
}
